@model IEnumerable<dynamic>

<h2>Bank Report</h2>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>SN</th>
        <th>Bank Name</th>
        <th>Account Number</th>
        <th>Account Number</th>
        <th>Remaining Balance</th>
        <th>Account Open Date</th>
        <th>Bank Address</th>
        <th>Status</th>

        <!-- Add other headers -->
    </tr>
    </thead>
    <tbody>
    @{
        int sn = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@sn</td>
            <td>@item.bankname</td>
            <td>@item.accountnumber</td>
            <td>@item.remainingbalance</td>
            <td>@item.bankcontactnumber</td>
            <td> @{
                    DateTime? openDate = item.accountopendate as DateTime?;
                    string formattedDate = openDate.HasValue ? openDate.Value.ToString("yyyy/MM/dd") : "-";
                }
                @formattedDate</td>
            <td>@item.bankaddress</td>
            <td>@(item.status == 1 ? "Active" : "Inactive")</td>
        </tr>
        sn++;
    }
    </tbody>
</table>

