@model IEnumerable<ExpenseTracker.Dtos.AccountingTransactionReportDto>

@{
    ViewData["Title"] = "Accounting Transaction Report";
}


@if (Model.Any())
{
    <h2 class="mt-3 mb-4 text-center font-weight-bold ">Accounting Transaction Report</h2>

    <table class="table table-bordered table-striped table-hover mt-3" style="border-collapse: collapse;" id="datatable">
        <thead class="bg-dark text-white text-center">
        <tr>
            <th style="width: 50px;">SN</th>
            <th>Type</th>
            <th>Transaction Date</th>
            <th class="text-right">Amount</th>
            <th>Voucher Number</th>
            <th>Recorded By</th>
            <th>Status</th>
            <th>Remarks</th>

        </tr>
        </thead>

        <tbody>
        @{
            int sn = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@sn</td>

                <td>@item.Type</td>

                <td>
                    @{
                        DateTime? txnDate = item.TxnDate as DateTime?;
                    }
                    @(txnDate.HasValue ? txnDate.Value.ToString("yyyy-MM-dd") : "-")
                </td>

                <td class="text-right">@String.Format("{0:N2}", item.Amount)</td>

                <td>
                    <a asp-action="VoucherDetail"
                       asp-route-transactionid="@item.TransactionId">
                        @item.VoucherNo
                    </a>
                </td>

                <td>@item.Username</td>
                <td class="@(item.Status == 1 ? "text-success" : "text-danger")">@(item.Status == 1 ? "Active" : "Inactive")</td>
                <td>@item.Remarks</td>
            </tr>

            sn++;
        }
        </tbody>
        <tfoot >
        <td></td>
        <td colspan="2" >Total</td>
        <td>@Model.Sum(m=> m.Amount)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tfoot>
    </table>
}

