@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Accounting Transaction Report";
}

<h2 class="mt-3 mb-4 text-center font-weight-bold">Accounting Transaction Report</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-dark text-white text-center">
        <tr>
            <th style="width: 50px;">SN</th>
            <th>Type</th>
            <th>Transaction Date</th>
            <th class="text-right">Amount</th>
            <th>Voucher Number</th>
            <th>Recorded By</th>
            <th>Status</th>
            <th>Remarks</th>

        </tr>
        </thead>

        <tbody>
        @{
            int sn = 1;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@sn</td>

                <td>@item.type</td>

                <td>
                    @{
                        DateTime? txnDate = item.txn_date as DateTime?;
                    }
                    @(txnDate.HasValue ? txnDate.Value.ToString("yyyy-MM-dd") : "-")
                </td>

                <td class="text-right">@String.Format("{0:N2}", item.amount)</td>

                <td>
                    <a asp-action="VoucherDetail"
                       asp-route-transactionid="@item.id">
                        @item.voucher_no
                    </a>
                </td>

                <td>@item.username</td>
                <td class="@(item.status == 1 ? "text-success" : "text-danger")">@(item.status == 1 ? "Active" : "Inactive")</td>
                <td>@item.remarks</td>


            </tr>

            sn++;
        }
        </tbody>
    </table>
}
else
{
    <div class="text-danger">
        <p>No record found.</p>
    </div>
}
