@model IEnumerable<ExpenseTracker.Dtos.ParentLedgerReportDto>

@{
    ViewData["Title"] = "Parent Ledger Report";
}

<h2 class="mt-3 mb-4 text-center font-weight-bold">Parent Ledger Report</h2>

<table class="table table-bordered table-striped table-hover" id="datatable">
    <thead class="bg-dark text-white text-center">
    <tr>
        <th style="width: 50px;">SN</th>
        <th>COA</th>
        <th>Parent Code</th>
        <th>Parent Name</th>
        <th>Status</th>
        <th>Created By</th>
    </tr>
    </thead>

    <tbody>
    @{
        int sn = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@sn</td>

            <td>@item.ParentLedgerName</td>

            <td>@item.LedgerCode</td>

            <td>@item.LedgerName</td>

            <td class="@(item.Status == 1 ? "text-success" : "text-danger")">
                @(item.Status == 1 ? "Active" : "Inactive")
            </td>

            <td>@item.UserName</td>
        </tr>

        sn++;
    }
    </tbody>
</table>